/.venv

/classification/test/
/classification/train/

/data_aug/test/
/data_aug/train/

/transfer_learning/test/
/transfer_learning/train/

/multi_class_dataset/rps
/multi_class_dataset/rps-test-set
/multi_class_dataset/rps-validation